version: '3.9'

services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: tasker
      POSTGRES_PASSWORD: password
      POSTGRES_DB: taskerdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=tasker
      - DB_PASSWORD=password
      - DB_NAME=taskerdb

volumes:
  pgdata:
